<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secretaria Virtual-Mensaje Nuevo</title>
    <link rel="shortcut icon" href="/assets/LOGO-ULEAM-HORIZONTAL.png" />
  </head>
  <body>
    <nav class="mensajenu">
      <ul class="mensajenu1">
        <li class="mensajenu2">
          <a href="#"><button id="ENM" class="enviar">Enviar</button></a>
        </li>
        <li class="mensajenu3">
          <a href="mensajes"
            ><button id="NM" class="regresar">Regresar</button></a
          >
        </li>
      </ul>
    </nav>

    <!--<section class="enviarmn">
        <a href="mensajes.html"><button id="NM" class="regresar">Regresar</button></a>
    </section>-->
    <section class="EnviarM">
      <input
        class="Para"
        type="email"
        name="Para"
        id="Para"
        placeholder="Para"
      />
      <input
        class="Asunto"
        type="text"
        name="Asunto"
        id="Asunto"
        placeholder="Asunto"
      />
      <input
        class="Redactar"
        type="text"
        name="Redacta"
        id="Redacta"
        placeholder="Redacta el Mensaje"
      />
    </section>
    <!--<a href="#"><button id="ENM" class="ENM">Enviar</button></a>-->
  </body>
</html>
