<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secretaria Virtual-Recordatorio</title>
    <link rel="shortcut icon" href="/assets/LOGO-ULEAM-HORIZONTAL.png" />
  </head>
  <body>
    <div class="cabecera">
      <img class="logo" src="/assets/LOGO-ULEAM-1.png" alt="" />
      <nav>
        <ul>
          <li>
            <a href="inicio"><i class="fas fa-home"></i></a>
          </li>
          <li>
            <a href="inicio"><i class="fas fa-inicio"></i>Inicio</a>
          </li>
          <li>
            <a href="mensajes"><i class="fas fa-calendar-alt"></i>Mensajes</a>
          </li>
          <li>
            <a href="notificacion"><i class="fas fa-book"></i>Notificaciones</a>
          </li>
          <!--<li><a href="#notifica"><i class="fas fa-bell"></i>Notificaciones</a></li> -->
          <li>
            <a href="recordatorio"
              ><i class="fas fa-address-book"></i>Recordatorios</a
            >
          </li>
          <!--<li><a href="calendario.html"><i class="fas fa-address-book"></i>Calendario</a></li>-->
          <li>
            <a id="XML" href="perfil" type="button"
              ><i class="fas fa-user-cog"></i>Perfil</a
            >
          </li>
          <li>
            <a href="index"><i class="fas fa-times"></i>Cerrar Sesión</a>
          </li>
        </ul>
      </nav>
    </div>

    <section class="recordatorionu">
      <h3>Recordatorio:</h3>
    </section>
    <section class="recor1">
      <p>-Tiene una Reunión a las 09:00 en la sala 101</p>
    </section>
    <section class="recor2">
      <p>
        -El dia de hoy tiene que realizar las legalizaciones de los estudiantes
        de Tercer Nivel
      </p>
    </section>
  </body>
</html>
