<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secretaria Virtual-Mensajes</title>
    <link rel="shortcut icon" href="/assets/LOGO-ULEAM-HORIZONTAL.png" />
  </head>
  <body>
    <div class="cabecera">
      <img class="logo" src="/assets/LOGO-ULEAM-1.png" alt="" />
      <nav>
        <ul>
          <li>
            <a href="inicio"><i class="fas fa-home"></i></a>
          </li>
          <li>
            <a href="inicio"><i class="fas fa-inicio"></i>Inicio</a>
          </li>
          <li>
            <a href="mensajes"><i class="fas fa-calendar-alt"></i>Mensajes</a>
          </li>
          <li>
            <a href="notificacion"><i class="fas fa-book"></i>Notificaciones</a>
          </li>
          <li>
            <a href="recordatorio"
              ><i class="fas fa-address-book"></i>Recordatorios</a
            >
          </li>
          <li>
            <a id="XML" href="perfil" type="button"
              ><i class="fas fa-user-cog"></i>Perfil</a
            >
          </li>
          <li>
            <a href="index"><i class="fas fa-times"></i>Cerrar Sesión</a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="mensajen">
      <ul class="mensajen1">
        <p>
          <li class="mensajen2"><h3>Mensajes:</h3></li>
        </p>
        <li class="mensajen3">
          <a href="mensajenuevo"
            ><button id="MN" class="MN">Mensaje Nuevo</button></a
          >
        </li>
      </ul>
    </nav>
    <section class="Mensa1">
      <h4><b>Hace 10 minutos</b></h4>
      <b>e1315967909@live.uleam.edu.ec:</b> <br />
      <p>
        Buenas tardes me podria ayudar con el documento de retiro de materia.
      </p>
    </section>
    <section class="Mensa2">
      <p></p>
      <h4>Ayer</h4>
      <b>e123466789@live.uleam.edu.ec</b> <br />
      <p>Ingeniera me podria ayudar con las fechas de las homologaciones.</p>
    </section>
  </body>
</html>
