body 
{
  background-image: linear-gradient(to right, #ddecd4, #2f302f 400%);
  font-family: 'Baloo Tamma 2', Georgia;
}

.cabecera 
{
  background-image: linear-gradient(to right, #bebeb7 8%, #a9bcac 120%);
  width: 100%;
  height: 5em;
  box-shadow: 10px 10px 5px 0px rgba(214, 213, 213, 0.75);
}

.logo 
{
  width: 5%;
  float: left;
  margin-left: 3em;
  margin-top: 1%;
}

/*css del la parte superior*/
nav ul 
{
  display: flex;
  list-style: none; 
  padding-top: 30px;
  padding-left: 25%;
}
  
nav ul li:not(:last-child) 
{
  margin-right: 2rem;
}
  
nav ul li a 
{
  text-align: center;
  color: rgb(15, 15, 15);
  text-decoration: none;
  font-weight: bold;
}

.mensajes
{
  margin-left: 50px;
}

.MN
{
  background: rgba(160, 87, 87, 0.75);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
  margin-left: 89%;
  margin-top: 1%;
  width: auto;
}

.Mensa1
{
  border: 2px solid;
  width:center 1000px;
  background:rgba(160, 87, 87, 0.75);
  padding: 2px;
  margin: 10px 0;
  font-family: "Baloo Tamma 2";
  box-shadow: 7px 13px 37px #757575;
  border-radius: 10px;
  border-color: transparent;
}

.Mensa2
{
  border: 2px solid;
  width:center 1000px;
  background:rgba(160, 87, 87, 0.75);
  padding: 2px;
  margin: 10px 0;
  font-family: "Baloo Tamma 2";
  box-shadow: 7px 13px 37px #757575;
  border-radius: 10px;
  border-color: transparent;
}

.mensajen1 
{
    display: flexbox;
    list-style: none;
    margin-top: -1%;
}

.mensajen2 
{
    margin-right: 2rem;
    margin-left: -30%;
}
  
.mensajen3
{
  text-align: center;
  color: rgb(15, 15, 15);
  margin-left: 97%;
}